@font-face {
  font-family: 'Inter-Regular';
  src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf');
}
body {
  font-family: 'Inter-Regular';
  background-color: #ebeef3;
}




tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
